* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message-popup {
  font: 13px Helvetica, Arial;
  background-color: #FFFFFF;
  position: absolute;
  right: 1vw;
  bottom: 0;
  z-index: 50;
  display: none;
  /*float: right;*/
  border: 1px solid black;
  position: fixed;
  bottom: 5vh;
  width: 25vw;
  height: 48vh;
}

.message-header {
  text-align: right;
  padding-right: 1.2vw;
  background-color: #000;
  color: #206FF9;
  font-size: 1vw;
  font-weight: bold;
  height: 3vh;
  width: 25vw;
}

.message-header:hover {
  cursor: pointer;
}

.socket-form {
  position: absolute;
  bottom: 0;
  background: #000;
  padding: 3px;
  width: 25vw;
}

.socket-form input {
  border: 0;
  padding: 10px;
  width: 19.5vw;
  height: 5vh;
  margin-right: .5%;
}


.socket-form button {
  width: 4.8vw;
  background-color: #206FF9;
  border: none;
  padding: 10px;
}

.screen {
  background-color: #FFFFFF;
  width: 25vw;
  height: 40vh;
}


#messages {
  width: 25vw;
  height: 39vh;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  background: #FFFFFF;
}

#messages li:nth-child(odd) {
  background: #eee;
}
