.songItem {
  background-color: #F8F8FA;
  border: 2px solid #E0DFE0;
  border-radius: 10px;
  margin-bottom: 1vh;
  padding: 1vh 1vw;
  /*color: #FFFFFF;*/
  width: 30vw;
  min-height: 8vh;
  box-shadow: 5px 5px 5px #888888;
}

.getVideo {
  margin-right: .5vw;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 1vh;
  height: 4vh;
  width: 2vw;
  color: #206FF9;
  font-size: 1.5vw;
}

.getVideo:hover {
  cursor: pointer;
  color: #79a8fb;
}

.addSong {
  margin-right: .5vw;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: .2vh;
  height: 4vh;
  width: 2vw;
  color: #206FF9;
  font-size: 2vw;
}

.addSong:hover {
  cursor: pointer;
  color: #79a8fb;
}

.songName {
 display: inline-block;
 width: 20vw;
 font-size: 1vw;
 margin: 1.5vh 0 0 .5vw;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, .6);
}

.modal-content {
  position: absolute;
  left: 10vw;
  top: 15vh;
  background-color: #FAFAFA;
  width: 80vw;
  height: 40vw;
  border: 1px solid #9C9C9C;
  border-radius: 1.5vw;
  /*box-shadow: 5px 4px 10px #888888;*/
}

.close {
    color: #000000;
    float: right;
    margin-right: 2vw;
    font-size: 3vw;
    font-weight: bold;
}

.close:hover {
    color: #206FF9;
    cursor: pointer;
}

.placeholder-text {
  margin: 30vh 0 0 17vw;
  font-size: 3vw;
}


