.song-container {
  display: inline-block;
  /*border: 1px solid blue;*/
  height: 89vh;
  width: 32vw;
  overflow: auto;
  padding: 1vh 1vw;
}
<<<<<<< HEAD
=======
/*fade in transition*/
>>>>>>> 2f50f5c9fc2f81b052b11e2cdb5e9f23cd18dac2
.fade-enter {
 transform: translate(-60%);
}
.fade-enter.fade-enter-active {
  transform: translate(1%);
  transition: transform 1000ms ease-in-out;
}
