/*.albumItem  {
  display: inline-block;
  text-align: center;
  border: 1px solid green;
  padding-top: 1vh;
  width: 15vw;
  height: 25vh;
}*/

.album-img {
  display: inline-block;
  width: 12vw;
  height: 16vh;
  background-color: grey;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin-top: 2vh;
  margin-left: 2vw;
}

.album-info {
  margin-left: 2vw;
}

.album-info p {
  font-size: 10px;
  /*display: inline-block;*/
}
