* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
 border: 1px solid blue;
 text-align: center;
}

.titles {
  border: 1px solid blue;
  text-align: center;
}

.titles h2 {
  display: inline-block;
}

.center-title {
  margin: 1vh 25vw 1vh 25vw;
}

section {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

